<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.vidyo.plugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>VidyoIOPlugin</name>
	<js-module name="VidyoIOPlugin" src="www/VidyoIOPlugin.js">
		<clobbers target="VidyoIOPlugin" />
	</js-module>
	<platform name="android">
		<!--preference name="android-manifest/application/@android:name" value="com.vidyo.vidyoconnector.VidyoConnector" /-->
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="VidyoIOPlugin"><param name="android-package" value="com.vidyo.plugin.VidyoIOPlugin" />
			</feature>
		</config-file>
		<config-file parent="/manifest" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.CAMERA" />
			<uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
			<uses-permission android:name="android.permission.RECORD_AUDIO" />
			<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
			<uses-feature android:name="android.hardware.camera" />	
		</config-file>
		
		<config-file parent="/manifest/application" target="AndroidManifest.xml">
				<activity
					android:name="com.vidyo.vidyoconnector.VidyoIOActivity"
					android:launchMode="singleTop"
					android:configChanges="orientation|screenSize"
					android:label="@string/app_name" >
					<intent-filter>
						<category android:name="android.intent.category.LAUNCHER" />
					</intent-filter>
				</activity>
		</config-file>
		
		<source-file src="src/android/VidyoIOPlugin.java" target-dir="src/com/vidyo/plugin/VidyoIOPlugin" />
		<source-file src="src/android/com/vidyo/vidyoconnector/VidyoIOActivity.java" target-dir="src/com/vidyo/vidyoconnector" />
		<source-file src="src/android/com/vidyo/vidyoconnector/VidyoConnector.java" target-dir="src/com/vidyo/vidyoconnector" />
		<source-file src="src/android/com/vidyo/vidyoconnector/Logger.java" target-dir="src/com/vidyo/vidyoconnector" />
		
		<source-file src="src/android/lib/android/vidyoclient.jar" target-dir="libs" />
        <source-file src="src/android/lib/android/arm64-v8a/libVidyoClient.so" target-dir="libs/arm64-v8a" />
		<source-file src="src/android/lib/android/armeabi-v7a/libVidyoClient.so" target-dir="libs/armeabi-v7a" />
		<source-file src="src/android/lib/android/x86/libVidyoClient.so" target-dir="libs/x86" />
		<source-file src="src/android/lib/android/x86_64/libVidyoClient.so" target-dir="libs/x86_64" />
		
		<source-file src="src/android/res/drawable/callend.png" target-dir="res/drawable" />
		<source-file src="src/android/res/drawable/callstart.png" target-dir="res/drawable" />
		<source-file src="src/android/res/drawable/camera_off.png" target-dir="res/drawable" />
		<source-file src="src/android/res/drawable/camera_switch.png" target-dir="res/drawable" />
		<source-file src="src/android/res/drawable/cameraonwhite.png" target-dir="res/drawable" />
		<source-file src="src/android/res/drawable/microphoneoff.png" target-dir="res/drawable" />
		<source-file src="src/android/res/drawable/microphoneonwhite.png" target-dir="res/drawable" />
		<source-file src="src/android/res/drawable/rounded_border_edittext.xml" target-dir="res/drawable" />
		<source-file src="src/android/res/drawable/toggle_camera_privacy.xml" target-dir="res/drawable" />
		<source-file src="src/android/res/drawable/toggle_connect.xml" target-dir="res/drawable" />
		<source-file src="src/android/res/drawable/toggle_mic_privacy.xml" target-dir="res/drawable" />
		<source-file src="src/android/res/drawable/vidyo_io_icon.png" target-dir="res/drawable" />
		<source-file src="src/android/res/drawable/vidyo_io_vertical_dark_at_2x.png" target-dir="res/drawable" />
		
		<source-file src="src/android/res/layout/activity_main.xml" target-dir="res/layout" />
		<source-file src="src/android/res/menu/menu_main.xml" target-dir="res/menu" />
		
		<source-file src="src/android/res/mipmap-hdpi/ic_launcher.png" target-dir="res/mipmap-hdpi" />
		<source-file src="src/android/res/mipmap-mdpi/ic_launcher.png" target-dir="res/mipmap-mdpi" />
		<source-file src="src/android/res/mipmap-xhdpi/ic_launcher.png" target-dir="res/mipmap-xhdpi" />
		<source-file src="src/android/res/mipmap-xxhdpi/ic_launcher.png" target-dir="res/mipmap-xxhdpi" />
		
		<source-file src="src/android/res/values/dimens.xml" target-dir="res/values" />
		<source-file src="src/android/res/values/strings2.xml" target-dir="res/values" />
		<source-file src="src/android/res/values/styles.xml" target-dir="res/values" />
		<source-file src="src/android/res/values-w820dp/dimens.xml" target-dir="res/values-w820dp" />
		

	</platform>
</plugin>